<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="page" parameterType="Dish" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from dish as d left join category as c on d.category_id = c.id
        <where>
            <if test="categoryId != null">category_id = #{categoryId}</if>
            <if test="name != null">and d.name like concat('%',#{name},'%')</if>
            <if test="status != null">and d.status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="findById" resultType="com.sky.vo.DishVO">
        select * from dish where id = #{id}
    </select>

<!--                      NOTICE 将插入后生成的主键id返回，并使用反射将值赋值给Dish对象的id属性，这里keyProperty的id也就是Dish中的id属性                             -->
    <insert id="addDish" parameterType="Dish" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values(#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="findOnSaleDishStatus" resultType="integer">
        select count(*) from dish where status = 1 and id in
        <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </select>

    <select id="findByCategoryId" resultMap="findByCategoryId">
        select d.*,df.id dishFlavor_id,df.name dishFlavor_name,df.dish_id,df.value
        from dish d left join dish_flavor df on d.id = df.dish_id
        where d.category_id = #{categoryId}
        <if test="status != null">and d.status = #{status}</if>
    </select>
    <resultMap id="findByCategoryId" type="com.sky.vo.DishVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_name" property="categoryName"/>
        <collection property="flavors" ofType="DishFlavor" javaType="list">
            <id column="dishFlavor_id" property="id"/>
            <result column="dishFlavor_name" property="name"/>
            <result column="dish_id" property="dishId"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>

    <update id="updateDish" parameterType="Dish">
        update dish
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
            <if test="updateUser != null">update_user=#{updateUser},</if>
        </set>
        where id  = #{id}
    </update>

    <select id="countByMap" parameterType="hashmap" resultType="Integer">
        select count(*) from dish where status = #{status}
    </select>
</mapper>










